<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!---------------- -->
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark h-10" style="height: 75px"></nav>

    <div class="container-fluid">
      <div class="row h-100">
        <div class="col-2 me-1 bg-light" style="height: calc(100vh - 75px)">

          <ul class="nav flex-column my-5 text-center" >

            <li class="nav-item my-3 p-1" style="background-color: rgb(199, 194, 194)">
              <a class="nav-link " aria-current="page" href="#">Dashboard</a>
            </li>

            <li class="nav-item my-3 p-1" style="background-color: rgb(199, 194, 194)">
              <a class="nav-link" href="#">
                 Products</a>
            </li>

            <li class="nav-item my-3 p-1" style="background-color: rgb(199, 194, 194)">
              <a class="nav-link" href="#">Add Products</a>
            </li>

            <li class="nav-item my-3 p-1" style="background-color: rgb(199, 194, 194)">
              <a class="nav-link href=#">Warehouse</a>
            </li>

           <li class="nav-item my-3 p-1" style="background-color: rgb(199, 194, 194)">
              <a class="nav-link href=#">Add Warehouse</a>
            </li>
          </ul>
          <!-- <nav class="navbar navbar-light bg-light flex-column h-100">
            <a
              class="nav-link w-100 text-center text-black"
              style="background-color: rgb(199, 194, 194)"
              aria-current="page"
              href="#"
              >Dashboard</a
            >




            <a
              class="nav-item nav-link text-black w-100 text-center"
              style="background-color: rgb(199, 194, 194)"
              href="#"
            >
              <i class="bi bi-box"></i>
              Products
            </a>

            <a class="nav-link" href="#">
              <i class="bi bi-plus-circle-fill"></i>
              Add Product
            </a>

            <a class="nav-link" href="#">Warehouse</a>
            <a class="nav-link" href="#">Add Warehouse</a>
          </nav> -->
        </div>
        <div class="col btn-warning ms-3">Products</div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
